{% extends 'app/base.html' %}

{% block contenido %}

{% load static %}



<br>
<br>
    <div class="container-fluid px-0 px-sm-4 mx-auto justify-content-center">
        <div class="row justify-content-center mx-0">
            <div class="col-lg-10">
                <div class="row justify-content-center mx-0 card border-0">
                    <form class="jot-form-form justify-content-center" action=""  method="post" name="datos" id="2" autocomplete="on">
                        {% csrf_token %}
                        <div role="main" class="form-all">
                            <ul class="form-section page-section">
                                <div class="form-header-group  header-default">
                                    <div class="header-text httal htvam">
                                        <h2 id="header_22" class="form-header">Datos del paciente</h2>
                                    </div>
                                </div>
                                <li class="form-line jf-required" data-type="control_fullname" id="id_15">
                                    <label class="form-label form-label-left form-label-auto" id="label_15" for="nombres">Rut
                                        <span class="form-required">*</span>
                                    </label>
                                    <div id="cid_15" class="form-input jf-required">
                                        <div data-wrapper-react="true" class="extended">
                                        <span class="form-sub-label-container">
                                            <input type="text" id="rut" name="rut" class="form-textbox" size="10" required="" />
                                            <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Rut</label>
                                        </span>
                                        </div>
                                    </div>    
                            </li>
                                <li class="form-line jf-required" data-type="control_fullname" id="id_15">
                                        <label class="form-label form-label-left form-label-auto" id="label_15" for="nombres">Nombre y Apellidos del Paciente
                                            <span class="form-required">*</span>
                                        </label>
                                        <div id="cid_15" class="form-input jf-required">
                                            <div data-wrapper-react="true" class="extended">
                                            <span class="form-sub-label-container">
                                                <input type="text" id="nombre" name="nombre" class="form-textbox" size="10" required="" />
                                                <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Nombre </label>
                                            </span>
                                            <span class="form-sub-label-container">
                                                <input type="text" id="apellidoPaterno" name="apellidoPaterno" class="form-textbox" size="10" required="" />
                                                <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Apellido Paterno </label>
                                            </span>
                                            <span class="form-sub-label-container">
                                                <input type="text" id="apellidoMaterno" name="apellidoMaterno" class="form-textbox" size="15" required="" />
                                                <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Apellido Materno </label>
                                            </span>
                                            </div>
                                        </div>    
                                </li>
                                <li class="form-line jf-required" data-type="control_email" id="correo">
                                    <label class="form-label form-label-left form-label-auto" id="correo">
                                        Correo Electronico
                                        <span class="form-required">
                                        *
                                        </span>
                                    </label>
                                    <div id="cid_26" class="form-input jf-required">
                                        <span class="form-sub-label-container" style="vertical-align:top">
                                        <input type="text" id="correo" name="correo" class="form-textbox" size="30" placeholder="" required="" />
                                        <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> example@example.com </label>
                                        </span>
                                    </div>
                                </li>
                                <li class="form-line jf-required" data-type="control_address">
                                    <label class="form-label form-label-left form-label-auto">
                                        Dirección
                                        <span class="form-required">
                                        *
                                        </span>
                                    </label>
                                    <div id="cid_17" class="form-input jf-required">
                                        <div class="form-address-table jsTest-addressField">
                                        <div class="form-address-line-wrapper jsTest-address-line-wrapperField">
                                            <span class="form-address-line form-address-street-line jsTest-address-lineField">
                                            <span class="form-sub-label-container" style="vertical-align:top">
                                                <input type="text" id="direccion" name="direccion" class="form-textbox form-address-line" required="" />
                                                <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Dirección de la calle </label>
                                            </span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="form-line jf-required" data-type="control_phone" id="id_18">
                                    <label class="form-label form-label-left form-label-auto" id="label_18" for="input_18_area">
                                        Número de teléfono
                                        <span class="form-required">
                                        *
                                        </span>
                                    </label>
                                    <div id="cid_18" class="form-input jf-required">
                                    <div data-wrapper-react="true">
                                        <span class="form-sub-label-container" style="vertical-align:top" data-input-type="phone">
                                            <input type="tel" id="telefono" name="telefono" class="form-textbox" required="" />
                                            <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Número de teléfono </label>
                                        </span>
                                    </div>
                                </div>
                                </li>
                                <li class="form-line jf-required" data-type="control_phone" id="id_18">
                                    <label class="form-label form-label-left form-label-auto" id="label_18" for="input_18_area">
                                        Especialidad
                                        <span class="form-required">
                                        *
                                        </span>
                                    </label>
                                    <div id="cid_18" class="form-input jf-required">
                                    <div data-wrapper-react="true">
                                        <span class="form-sub-label-container" style="vertical-align:top" data-input-type="phone">
                                            <input type="text" id="especialidad" name="especialidad" class="form-textbox" required="" />
                                            <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Escoger Especialidad </label>
                                        </span>
                                    </div>
                                </div>
                                </li>
                                <!--CALENDARIO-->
                                <li class="form-line jf-required" data-type="control_phone" id="id_18">
                                    <label class="form-label form-label-left form-label-auto" id="label_18" for="input_18_area">
                                        Fecha
                                        <span class="form-required">
                                        *
                                        </span>
                                    <input type="date" id="fecha" name="fecha" value="2022-07-22" min="2022-01-01" max="2030-12-31" >
                                    <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Fecha a escoger </label>
                                </li>
                                <li class="form-line jf-required" data-type="form-textbox" id="id_18">
                                    <label class="form-label form-label-left form-label-auto" id="label_18" for="input_18_area">
                                        Hora
                                        <span class="form-required">
                                        *
                                        </span>
                                    <input type="text" id="hora" name="hora" class="form-textbox" required="" >
                                    <label class="form-sub-label" style="min-height:13px" aria-hidden="false"> Hora</label>  
                                </li>
                                <li>
                                    <input type="submit" value="RegistrarPago" class="btn btn-success">
                                </li>
                                
                            </ul>
                            {{mensaje}}
                            
                                
                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    

{% endblock %}