{% extends 'app/base.html' %}

{% block contenido %}

{% load static %}

<br>
<br>

<div class="container">
    <center>
    <h1>Nosotros</h1>
    <br><br>
    <p>Somos la red de salud privada con mayor cobertura en el territorio nacional, ofreciendo acceso a salud de calidad a todas las familias de Chile, poniéndolas en el centro de nuestro que hacer y tratándolas con especial empatía y calidez.

        Nuestra prioridad son los pacientes, es por ellos que nos esforzamos día a día para que reciban una atención respetuosa, amable y de calidad, acortando los tiempos de espera para que de esta manera aumente la eficacia de nuestro servicio médico.
        
        Como parte de la Cámara Chilena de la Construcción (CChC), creemos en una salud inclusiva y no excluyente, con precios accesibles y no abusivos. Por eso, trabajamos en conjunto con Isapres y Fonasa para tener los mejores planes y convenios en todas nuestras prestaciones, con el fin de satisfacer las necesidades de nuestros pacientes.
        
        Contamos con una amplia gama de especialidades médicas a lo largo del país y día a día procuramos que nuestros pacientes encuentren horas disponibles con los especialistas que necesitan para que puedan acceder a todos los servicios de diagnóstico y tratamientos de salud en nuestra red.
        
        Por eso, nuestros centros médicos, dentales y clínicas están ubicados estratégicamente para facilitar su acceso. Nos encontramos entrando en una nueva etapa en el desarrollo de RedSalud, con el objetivo de fortalecer a cada uno de nuestros prestadores de la red y a la organización como un todo. Al mismo tiempo, estamos insertos en una industria dinámica,
         creciente y cada vez más competitiva, por lo que se presenta una gran oportunidad para robustecer las acciones positivas y avanzar en los desafíos futuros.</p>
    <br><br>
    </center>
  </div>

{% endblock %}